.card-position{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
}
.box{
  background-color: aqua;
  transition: 0.2s;
  box-shadow: 4px 4px rgb(83, 80, 80);
}
.box:hover
{
    transform: scale(1.1);
    border: 1px solid rgb(80, 167, 214);
}
h1{
  margin: auto;
  text-align: center;
}
